{% extends 'home.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Movies/style.css' %}">
{% endblock %}

{% block title %}
    BestFlix</title>
    <link rel="icon" type="image/x-icon" href="static/media/title_image/BestFlix_small.png">
{% endblock %}

{% block content %}
<h1 class="mx-auto" style="max-width: 50rem">Produktbewertung bearbeiten</h1>
<form class="mx-auto" style="max-width: 50rem" method="POST">
    {% csrf_token %}
    {{ form.text }}
    <br>
    {{ form.rating }}
    <button class="btn btn-dark" style="margin-left: 195px" type="submit">Speichern</button>
</form>
{% endblock %}