{% extends 'home.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Movies/style.css' %}">
{% endblock %}

{% block title %}Videospiel löschen{% endblock %}

{% block logged_in_content %}
<h2>Film löschen</h2>
    <form method="POST">
        {% csrf_token %}
        <p>Willst du den Film "{{ selected_movie.name }}" wirklich löschen?</p>
        <a href="{% url 'movie-detail' selected_movie.id %}"><button type="button">Nein</button></a>
        <button type="submit">Ja</button>
    </form>
{% endblock %}

{% block not_logged_in_content %}
    <p>Du musst angemeldet sein, um ein Film löschen zu können</p>
    <a href="{% url 'login' %}">Anmelden</a>
{% endblock %}