{% extends 'home.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Movies/style.css' %}">
{% endblock %}

{% block title %}Filme{% endblock %}

<body class="movies-list">
    {% block content %}
        <div class="movie-container">
        {% for movie in movies %}
            <div class="movie-element">
                <a href="{{ movie.id }}/"><b>{{ movie.name }}</b></a><br>
                <p>{{ movie.description }} / {{ movie.get_genre_display }}</p>
            </div>
        {% endfor %}
        </div>

    <a class="add-element" href={% url 'movies-create' %}>Film hinzufügen</a><br>
    {% endblock %}
</body>