{% extends 'home.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Movies/style.css' %}">
{% endblock %}

{% block title %}Film hinzufügen{% endblock %}

{% block logged_in_content %}
<h2>Film hinzufügen</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p>
            <label for="{{ form.name.id_for_label }}">Name:</label>
            <input id="{{ form.name.id }}" type="text" name="name" required>
        </p>
        <p>
            <label for="{{ form.description.id_for_label }}">Beschreibung:</label>
            <input id="{{ form.description.id }}"  type="text" name="description">
        </p>
        <p>
            {{ form.genre.label }}: {{ form.genre }}
        </p>
        <p>
            <label for="{{ form.fsk.id_for_label }}">FSK:</label>
            <select id="{{ form.fsk.id }}" name="fsk">
                {% for el in fsk_categories %}
                    <option value="{{ el.0 }}">{{ el.1 }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label>Bild:</label>
            <input id="{{ form.image.id }}" type="file" name="image">
        </p>
        <p>
            <label>PDF:</label>
            <input id="{{ form.pdf.id }}" type="file" name="pdf">
        </p>
        <p>
            <label for="{{ form.price.id_for_label }}">Preis:</label>
            <input id="{{ form.price.id }}" type="number" name="price">
        </p>

{#        <p>#}
{#            <label for="{{ form.creation_date.id_for_label }}">Erstellungsdatum:</label>#}
{#            <input id="{{ form.creation_date.id }}"  type="date" name="creation_date">#}
{#        </p>#}
        <button type="submit">Film hinzufügen</button>
    </form>
{% endblock %}

{% block not_logged_in_content %}
    <p>Du musst angemeldet sein, um ein Film hinzuzufügen</p>
    <a href="{% url 'login' %}">Anmelden</a>
{% endblock %}