{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Movies/style.css' %}">
{% endblock %}

{% block title %}
    BestFlix</title>
    <link rel="icon" type="image/x-icon" href="static/media/title_image/BestFlix_small.png">
{% endblock %}

{% block content %}
    <body>
    <h1>Die besten Filme</h1>


    <form method="GET" action="{% url 'movies-list' %}">
        {% csrf_token %}
      <label>Bewertungen:
        <select name="sterne" size="5">
          <option value="1">1 Stern</option>
          <option value="2">2 Sterne</option>
          <option value="3">3 Sterne</option>
          <option value="4">4 Sterne</option>
          <option value="5">5 Sterne</option>
        </select>
          <button class="btn btn-danger my-2 my-sm-0" type="submit" name="search">Filtern</button>
        </label>
    </form>



    <div class="container">
        <div class="row">
            {% for movie in movies %}
                <div class="col-sm m-2">
                    <a class="filmContainer" href="{{ movie.id }}/">
                        <img class="filmImage img-fluid" style="max-width: 300px; max-height: 300px; display: inline-block;" src="/media/{{ movie.image }}" alt="Cover des Films \{{ movie.name }}\">
                        <div class="middle">
                            <div class="filmTitle"> {{ movie.name }} </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <br>
        {% if user.isStaff %}
            <a class="mx-2 btn btn-dark" href="{% url 'movies-create' %}" role="button">Film hinzufügen</a>
        {% endif %}
    </div>
    <br>
    </body>
{% endblock %}
