{% extends 'home.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Movies/style.css' %}">
{% endblock %}

{% block title %}Film löschen{% endblock %}

{% block content %}
<h2>Film löschen</h2>
    <form method="POST">
        {% csrf_token %}
        <p>Willst du den Film "{{ selected_movie.name }}" wirklich löschen?</p>
        <a href="{% url 'movies-detail' selected_movie.id %}"><button type="button">Nein</button></a>
        <button type="submit">Ja</button>
    </form>

    {% if not user.can_delete %}
        <p>Du musst angemeldet sein, um ein Film löschen zu können</p>
        <a href="{% url 'login' %}">Anmelden</a>
    {% endif %}
{% endblock %}

