{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Movies/style.css' %}">
{% endblock %}

{% block title %}
    BestFlix</title>
    <link rel="icon" type="image/x-icon" href="/title_image/BestFlix_small.png">
{% endblock %}

<body>
{% block content %}
<h1 class="mx-auto" style="max-width: 50rem">Film hinzufügen</h1>
    <form class="list-group mx-auto border rounded" style="max-width: 50rem" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <li class="list-group-item list-group-item-dark">
            <label for="{{ form.name.id_for_label }}">Name:</label>
            <input id="{{ form.name.id }}" type="text" name="name" required>
        </li>
        <li class="list-group-item list-group-item-dark">
            <label for="{{ form.description.id_for_label }}">Beschreibung:</label>
            <input id="{{ form.description.id }}"  type="text" name="description">
        </li>
        <li class="list-group-item list-group-item-dark">
            {{ form.genre.label }}: {{ form.genre }}
        </li>
        <li class="list-group-item list-group-item-dark">
            <label for="{{ form.fsk.id_for_label }}">FSK:</label>
            <select id="{{ form.fsk.id }}" name="fsk">
                {% for el in fsk_categories %}
                    <option value="{{ el.0 }}">{{ el.1 }}</option>
                {% endfor %}
            </select>
        </li>
        <li class="list-group-item list-group-item-dark">
            <label>Bild:</label>
            <input id="{{ form.image.id }}" type="file" name="image">
        </li>
        <li class="list-group-item list-group-item-dark">
            <label>PDF:</label>
            <input id="{{ form.pdf.id }}" type="file" name="pdf">
        </li>
        <li class="list-group-item list-group-item-dark">
            <label for="{{ form.price.id_for_label }}">Preis:</label>
            <input id="{{ form.price.id }}" type="number" name="price">
        </li>

{#        <p>#}
{#            <label for="{{ form.creation_date.id_for_label }}">Erstellungsdatum:</label>#}
{#            <input id="{{ form.creation_date.id }}"  type="date" name="creation_date">#}
{#        </p>#}
        <button class="button btn btn-dark" type="submit">Film hinzufügen</button>
    </form>
{% endblock %}
</body>