{% extends 'home.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Movies/style.css' %}">
{% endblock %}

{% block title %}BestFlix{% endblock %}

<body class="movies-list">
    {% block content %}
        <div class="movie-container">
        {% for movie in movies %}
            <div class="movie-element">
                <a href="{{ movie.id }}/">
                    <img style="max-width: 300px; max-height: 300px; display: inline-block;" src="{{ movie.image }}">
                    <p>
                    {{ movie.name }}
                    </p>
                </a>
            </div>
        {% endfor %}
        </div>

    {% if user.isStaff %}
        <a class="add-element" href={% url 'movies-create' %}>Film hinzufügen</a><br>
    {% endif %}
    {% endblock %}
</body>