{% extends 'home.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Movies/style.css' %}">
{% endblock %}

{% block title %}
    BestFlix</title>
    <link rel="icon" type="image/png" href="/static/title_image/BestFlix_small.png">
{% endblock %}

{% block content %}
<h1 class="mx-auto" style="max-width: 50rem">Film löschen</h1>
    <div class="mx-auto" style="max-width: 50rem">
    <form method="POST">
        {% csrf_token %}
        <p>Willst du den Film "{{ selected_movie.name }}" wirklich löschen?</p>
        <a href="{% url 'movies-detail' selected_movie.id %}">
        <button class="btn btn-danger" type="button">Nein</button></a>
        <button class="btn btn-success" type="submit">Ja</button>
    </form>

    {% if not user.can_delete %}
        <p>Du musst angemeldet sein, um ein Film löschen zu können</p>
        <a class="btn btn-dark" href="{% url 'login' %}">Anmelden</a>
    {% endif %}
    </div>
{% endblock %}

