{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Movies/style.css' %}">
{% endblock %}

{% block title %}
    BestFlix</title>
    <link rel="icon" type="image/x-icon" href="/media/title_image/BestFlix_small.png">
{% endblock %}

<body>
{% block content %}
<h2>Details über {{ selected_movie.name }}</h2>

    <table>
    <tr>
        <td><b>Name:</b></td>
        <td>{{ selected_movie.name }}<br></td>
    </tr>
    <tr>
        <td><b>Beschreibung:</b></td>
        <td>{{ selected_movie.description }}<br></td>
    </tr>
    <tr>
        <td><b>Altersfreigabe:</b></td>
        <td>{{ selected_movie.fsk }}</td>
    </tr>
    <tr>
        <td><b>Bild:</b></td>
        <td><img style="max-width: 300px; max-height: 300px;" src="/media/{{ selected_movie.image }}"></td>
    </tr>
    <tr>
        <td><b>PDF:</b></td>
        <td><a target="_blank" href="/{{ selected_movie.pdf }}">Herunterladen</a></td>
    </tr>
    {% if user.isStaff %}
    <tr>
        <td></td>
        <td><a href="{% url 'movies-delete' selected_movie.id %}">Film löschen</a></td>
    </tr>
    {% endif %}
    </table>

    {% if user.is_authenticated %}
        <br>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" name="add_to_cart">Zum Warenkorb hinzufügen</button>
        </form>
    {% else %}
        <br><a href="{% url 'login' %}">Login</a> to add to shopping cart
        <br>
    {%  endif %}

    {% for review in selected_movie_reviews %}
        <span style="color: darkgreen">Hilfreich: {{ review.get_upvotes_count }}</span>
        <a href="{% url 'comment-vote' selected_movie.id review.id 'up' %}" style="text-decoration: none">
            <img src="{% static 'Movies/arrow_up.png' %}" height="20" width="20">
        </a>
        <span style="color: crimson">Nicht hilfreich: {{ review.get_downvotes_count }}</span>
        <a href="{% url 'comment-vote' selected_movie.id review.id 'down' %}" style="text-decoration: none">
            <img src="{% static 'Movies/arrow_down.png' %}" height="20" width="20">
        </a>
        <b style="color: darkgreen">{{ review.user.username }} am {{ review.timestamp }}</b>
        <p>Bewertung: {{ review.rating }}</p>
        <p>{{ review.text }}</p>
        {% if review.user.id == current_user_id %}
            <a href="{% url 'edit-review' selected_movie.id review.id %}">Bewertung bearbeiten</a>
            <a href="{% url 'delete-review' selected_movie.id review.id %}">Bewertung löschen</a>
        {% else %}
            <a href="{% url 'report-review' selected_movie.id review.id %}">Produktbewertung melden</a><br/>
        {% endif %}
    {% endfor %}
    <br>

    {% if not user_has_rated %}
    <b style="color: crimson">Produktbewertung schreiben</b><br>
    <form method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" name="add_comment">Speichern</button>
    </form>
    {% endif %}
    <br>
    <a href="{% url 'movies-list' %}">Zurück zur Filmübersicht</a>
{% endblock %}
</body>