:root {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.film-element {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;
    align-items: start;
}

.add-element {
    display: inline-block;
    font-weight: bold;
    background-color: #06b88c;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
}