:root {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

* {
    background-color: black;
    color: white;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.movie-element {
    border-style: solid;
    border-color: #D81F26;
}

.add-element {
    display: inline-block;
    font-weight: bold;
    background-color: #D81F26;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
}