{% extends 'home.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Videogames/style.css' %}">
{% endblock %}

{% block title %}Videospiele{% endblock %}

{% block content %}
<h2>Videospiele</h2>
<ul>
    {% for videogame in videogames %}
        <li>
            <a href="{{ videogame.id }}/"><b>{{ videogame.name }}</b></a><br>
            <p class="game-subtitle">{{ videogame.genre }} / ab {{ videogame.fsk }}</p>
        </li>
    {% endfor %}
</ul>

<a class="add-element" href={% url 'videogame-create' %}>Videospiel hinzufügen</a><br>
{% endblock %}