{% extends 'home.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Videogames/style.css' %}">
{% endblock %}

{% block title %}Videospiel hinzufügen{% endblock %}

{% block logged_in_content %}
<h2>Videospiel hinzufügen</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p>
            <label for="{{ form.name.id_for_label }}">Name:</label>
            <input id="{{ form.name.id }}" type="text" name="name" required>
        </p>
        <p>
            <label for="{{ form.description.id_for_label }}">Beschreibung:</label>
            <input id="{{ form.description.id }}"  type="text" name="description">
        </p>
        <p>
            <label for="{{ form.genre.id_for_label }}">Genre:</label>
            <select id="{{ form.genre.id }}" name="genre">
                {% for el in genre %}
                    <option value="{{ el.0 }}">{{ el.1 }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="{{ form.fsk.id_for_label }}">FSK:</label>
            <select id="{{ form.fsk.id }}" name="fsk">
                {% for el in fsk %}
                    <option value="{{ el.0 }}">{{ el.1 }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="{{ form.creation_date.id_for_label }}">Erstellungsdatum:</label>
            <input id="{{ form.creation_date.id }}"  type="date" name="creation_date">
        </p>
        <button type="submit">Videospiel hinzufügen</button>
    </form>
{% endblock %}

{% block not_logged_in_content %}
    <p>Du musst angemeldet sein, um ein Videospiel hinzuzufügen</p>
    <a href="{% url 'login' %}">Anmelden</a>
{% endblock %}