{% extends 'home.html' %}
{% load static %}

{% block title %}
    BestFlix</title>
    <link rel="icon" type="image/x-icon" href="static/media/title_image/BestFlix_small.png">
{% endblock %}

{% block content %}
<h1 class="mx-auto" style="max-width: 50rem">Kommentar editieren</h1>
    {% if not can_delete %}
        Du bist nicht autorisiert, um Kommentare zu editieren.<br><br>
    {% endif %}

    <b style="color: darkgreen">{{ comment.myuser.username }} on {{ comment.timestamp }}</b><br>
    {% if can_delete %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Editieren</button>
        </form>
    {% else %}
        {{ comment.text }}<br>
    {% endif %}
{% endblock %}