{% extends 'home.html' %}
{% load static %}

{% block title %}Kommentare entfernen{% endblock %}

{% block content %}
<h2>Kommentare entfernen</h2>
    {% if not can_delete %}
        Du bist nicht autorisiert, um Kommentare zu entfernen.<br><br>
    {% endif %}

    {% for comment in all_the_comments %}
        <b style="color: darkred">Kommentar zu {{ comment.movie.name }} von {{ comment.user.username }} am {{ comment.timestamp }}</b><br>
        {{ comment.text }}<br>

        {% if can_delete %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" id="comment_id" name="comment_id" value="{{ comment.id }}">
                <button type="submit" name="delete">Entfernen</button>
            </form>
        {% endif %}

        <br>
    {% endfor %}
    <br>

{% endblock %}