{% extends 'home.html' %}
{% load static %}

{% block title %}Kommentar editieren oder entfernen{% endblock %}

{% block logged_in_content %}
<h2>Kommentar editieren oder entfernen</h2>
    {% if not can_delete %}
        Du bist nicht autorisiert, um Kommentare zu editieren oder zu entfernen.<br><br>
    {% endif %}

    <b style="color: darkgreen">{{ comment.myuser.username }} on {{ comment.timestamp }}</b><br>
    {% if can_delete %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" id="comment_id" name="comment_id" value="{{ comment.id }}">
            <button type="submit" name="edit">Editieren</button>
            <button type="submit" name="delete">Entfernen</button>
        </form>
    {% else %}
        {{ comment.text }}<br>
    {% endif %}
{% endblock %}