{% extends 'home.html' %}
{% load static %}

{% block title %}Kommentar editieren{% endblock %}

{% block content %}
<h2>Kommentar editieren</h2>
    {% if not can_delete %}
        Du bist nicht autorisiert, um Kommentare zu editieren.<br><br>
    {% endif %}

    <b style="color: darkred">Kommentar zu {{ comment.movie.name }} von {{ comment.user.username }} am {{ comment.timestamp }}</b><br>
    {% if comment.is_reported %}
        <b style="color: red">Dieser Kommentar wurde gemeldet!</b><br>
    {% endif %}
    {% if can_delete %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Editieren</button>
        </form>
    {% else %}
        {{ comment.text }}<br>
    {% endif %}
{% endblock %}