{% extends 'home.html' %}
{% load static %}

{% block title %}
    BestFlix</title>
    <link rel="icon" type="image/png" href="/static/title_image/BestFlix_small.png">
{% endblock %}

{% block content %}
    <h1 class="mx-auto" style="max-width: 50rem">Kunden-Service-Portal</h1>
    <br>
    <div class="mx-auto" style="max-width: 50rem">
        <a class="btn btn-dark" href="{%  url 'movie-edit-delete' %}"> Filme bearbeiten/entfernen</a>
        <a class="btn btn-dark" href="{%  url 'review-delete' %}"> Bewertungen entfernen</a>
        <a class="btn btn-dark" href="{%  url 'reported-reviews-delete' %}"> Gemeldete Bewertungen entfernen</a>
    </div>
{% endblock %}