{% extends 'home.html' %}
{% load static %}

{% block title %}
    BestFlix</title>
    <link rel="icon" type="image/png" href="/static/title_image/BestFlix_small.png">
{% endblock %}

{% block content %}
<h1 class="mx-auto" style="max-width: 50rem">Filme entfernen/bearbeiten</h1>
    {% if not can_delete %}
        <p class="mx-auto" style="max-width: 50rem">Du bist nicht autorisiert, um Filme zu entfernen/bearbeiten.</p><br><br>
    {% endif %}

    <div class="mx-auto" style="max-width: 50rem">
    {% for movie in all_the_movies %}
        <div style="font-weight: bolder; font-size: x-large">{{ movie.name }}</div>

        {% if can_delete %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" id="movie_id" name="movie_id" value="{{ movie.id }}">
                <input class="btn btn-dark" type="button" onclick="window.location.href='{% url 'movie-edit' movie.id %}';" value="Bearbeiten" />
                <button class="btn btn-danger" type="submit" name="delete">Entfernen</button>
            </form>
        {% endif %}

        <br>
    {% endfor %}
    </div>
    <br>

{% endblock %}