{% extends 'home.html' %}
{% load static %}

{% block title %}
    BestFlix</title>
    <link rel="icon" type="image/png" href="/static/title_image/BestFlix_small.png">
{% endblock %}

{% block content %}
<h2>Gemeldete Bewertungen entfernen</h2>
    {% if not can_delete %}
        Du bist nicht autorisiert, um gemeldete Bewertungen zu entfernen.<br><br>
    {% endif %}

    {% for review in all_the_reviews %}
        {% if review.is_reported %}
            <b style="color: darkred">Bewertung zu {{ review.movie.name }} von {{ review.user.username }} am {{ review.timestamp }}</b><br>
            {{ review.text }}<br>


        {% if can_delete %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" id="review_id" name="review_id" value="{{ review.id }}">
                <button type="submit" name="delete">Entfernen</button>
            </form>
        {% endif %}

        <br>
        {% endif %}
    {% endfor %}
    <br>

{% endblock %}