<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% block css %}{% endblock %}
    <title>{% block title %}Base Titel{% endblock %}</title>
</head>
<body>
    {% if user.is_authenticated %}
        {% block logged_in_content %}
            <p>
                Hi {{ user.username }}!
                <img style="width: 70px;" class="profile_image" src="/media/{{ user.image }}">
            </p>
            <a href="{% url 'edit-user' %}">Benutzerkontoeinstellungen</a>
            <a href="{% url 'logout' %}">Abmelden</a>
        {% endblock %}
    {% else %}
        {% block not_logged_in_content %}
            <p>Du bist nicht angemeldet</p>
            <a href="{% url 'login' %}">Anmelden</a>
        {% endblock %}
    {% endif %}
    {% block content %}Base Block{% endblock %}
</body>
</html>
