{% extends 'home.html' %}

{% block title %}
    BestFlix</title>
    <link rel="icon" type="image/png" href="/static/title_image/BestFlix_small.png">
{% endblock %}

{% block content %}
    <h1 class="mx-auto" style="max-width: 50rem;">Benutzerdaten ändern</h1>
    <form class="mx-auto" style="max-width: 50rem;" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Wenn Felder leer gelassen werden, bleiben die derzeitigen Daten erhalten.</p>
        <p>
            <label for="{{ form.new_password.id_for_label }}">Neues Kennwort:</label>
            <input id="{{ form.new_password.id }}" type="password" name="new_password">
        </p>
        <p>
            <label>Aktuelles Profilbild</label>
            {% if image %}
                <img class="img-fluid mx-auto" style="max-width: 50rem;" src="{{ image.url }}">
            {% endif %}
        </p>
        <p>
            <label>Neues Profilbild auswählen:</label>
            <input id="{{ form.image.id }}" type="file" name="image">
        </p>
        <button class="btn btn-dark" type="submit">Änderungen speichern</button>
    </form>
    <br>
{% endblock %}