{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Movies/style.css' %}">
{% endblock %}


{% block title %}
    BestFlix</title>
    <link rel="icon" type="image/x-icon" href="static/title_image/BestFlix_small.png">
{% endblock %}

<body>
{% block content %}
    <br><br>
    <a href="{% url 'movies-list' %}" style="color: grey">
       <img class="img-fluid rounded mx-auto d-block" alt="" src="static/title_image/BestFlix.png">
    <div style="margin: auto; width: 50%; text-align: center">
        <h1>Willkommen bei BestFlix!</h1>
        <p>Entdecke die besten Filme</p>
    </div>
    </a>
{% endblock %}
</body>


