{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Movies/style.css' %}">
{% endblock %}


{% block title %}
    BestFlix</title>
    <link rel="icon" type="image/x-icon" href="/media/title_image/BestFlix_small.png">
{% endblock %}

<body>
{% block content %}
            <a href="{% url 'movies-list' %}">
            <img class="rounded mx-auto d-block" src="/media/title_image/BestFlix.png">
            </a>
{% endblock %}
</body>


