{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
{% endblock %}

{% block title %}Homepage Titel{% endblock %}
x§
{% block content %}
    {% if user.is_authenticated %}
        {% block logged_in_content %}
            <p>Hi {{ user.username }}!</p>
            <p><a href="{% url 'movies-list' %}">Filme anzeigen</a></p>
            <a href="{% url 'logout' %}">Abmelden</a>
        {% endblock %}
    {% else %}
        {% block not_logged_in_content %}
            <p>Du bist nicht angemeldet</p>
            <a href="{% url 'login' %}">Anmelden</a>
        {% endblock %}
    {% endif %}
{% endblock %}