{% extends 'home.html' %}
{% load static %}

{% block title %}
    BestFlix</title>
    <link rel="icon" type="image/x-icon" href="static/media/title_image/BestFlix_small.png">
{% endblock %}

{% block content %}
    <h1 class="mx-auto" style="max-width: 50rem">Bezahlen</h1>
    {% if paid %}
        <div class="mx-auto" style="max-width: 50rem">
        Danke für die Bezahlung.<br><br>
        </div>
    {% elif shopping_cart_is_empty %}
        <div class="mx-auto" style="max-width: 50rem">
        Dein Warenkorb ist leer. Es gibt nichts zu bezahlen.<br><br>
        </div>
    {% else %}
        <form class="list-group mx-auto border rounded" style="max-width: 50rem" method="POST">
            {% csrf_token %}
            <li class="list-group-item list-group-item-dark">
                Kreditkartennummer: {{ payment_form.credit_card_number }}
            </li>
            <li class="list-group-item list-group-item-dark">
                Ablaufdatum: {{ payment_form.expiry_date }}
            </li>
            <li class="list-group-item list-group-item-dark">
                Betrag: {{ payment_form.amount }}
            </li>
            <input type="hidden" id="shopping_cart_id" name="shopping_cart_id" value="{{ shopping_cart.id }}">
            <button class="btn btn-success" type="submit" name="Pay">Bezahlen</button>
        </form>
        <br>
        <div class="mx-auto" style="max-width: 50rem">
            <a class="btn btn-dark" href="{% url 'movies-list' %}">
                Zurück zu den Filmen
            </a>
        </div>
        <br>
    {% endif %}
{% endblock %}
